<a href="https://colab.research.google.com/github/kaanozbudak/Python101/blob/main/example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
basket = []

In [54]:
def check_item(item):
  keys = item.keys()
  values = item.values()
  if "username" not in keys or "price" not in keys or "city" not in keys or "name" not in keys:
    raise Exception("Please put name, username and price and city information to your item!")
  for value in values:
    if value == None:
      raise Exception(f"Some value is none, please check your item. {item}")
  return True

In [22]:
def create_item(username=None, price=None, city=None, name=None):
  return {
      "username": username,
      "name": name,
      "price": price,
      "city": city
  }

In [24]:
phone = create_item(username="kaan", price=50, city="Aydin", name="phone")

In [25]:
phone

{'city': 'Aydin', 'name': 'phone', 'price': 50, 'username': 'kaan'}

In [44]:
def add_to_cart(item):
  is_proper = check_item(item)
  print(f"check item returned {is_proper}")
  if is_proper:
    basket.append(item)
    print(f"{item['name']} added to basket")
  else:
    raise Exception("Item is not proper")

In [33]:
add_to_cart(phone)

True

In [27]:
watch = create_item(username="kaan", price=50, name="watch")

In [34]:
watch

{'city': None, 'name': 'watch', 'price': 50, 'username': 'kaan'}

In [36]:
basket

[{'city': 'Aydin', 'name': 'phone', 'price': 50, 'username': 'kaan'}]

In [37]:
def get_basket():
  print(basket)

In [38]:
get_basket()

[{'username': 'kaan', 'name': 'phone', 'price': 50, 'city': 'Aydin'}]

In [39]:
computer = create_item(username="batu", price=150, name="computer", city="Istanbul")

In [45]:
add_to_cart(computer)

check item returned True
computer added to basket

In [47]:
get_basket()

[{'username': 'kaan', 'name': 'phone', 'price': 50, 'city': 'Aydin'}, {'username': 'batu', 'name': 'computer', 'price': 150, 'city': 'Istanbul'}, {'username': 'batu', 'name': 'computer', 'price': 150, 'city': 'Istanbul'}]

In [48]:
def pop_last_item_from_basket():
  last_item = basket.pop()
  print(f"Pop {last_item} is success!")

In [49]:
pop_last_item_from_basket()

Pop {'username': 'batu', 'name': 'computer', 'price': 150, 'city': 'Istanbul'} is success!

In [50]:
basket

[{'city': 'Aydin', 'name': 'phone', 'price': 50, 'username': 'kaan'},
 {'city': 'Istanbul', 'name': 'computer', 'price': 150, 'username': 'batu'}]

In [52]:
def get_total_price():
  total_sum = 0
  for item in basket:
    total_sum += item['price']
  print(f"Total sum is: {total_sum}")
  return total_sum

In [53]:
get_total_price()

Total sum is: 200

200

In [55]:
def get_all_cities():
  cities = []
  for item in basket:
    cities.append(item['city'])
  return set(cities)

In [56]:
get_all_cities()

{'Aydin', 'Istanbul'}

In [58]:
bottle = create_item(username="ali", city="Istanbul", name="bottle", price=30)

In [59]:
add_to_cart(bottle)

check item returned True
bottle added to basket

In [60]:
basket

[{'city': 'Aydin', 'name': 'phone', 'price': 50, 'username': 'kaan'},
 {'city': 'Istanbul', 'name': 'computer', 'price': 150, 'username': 'batu'},
 {'city': 'Istanbul', 'name': 'bottle', 'price': 30, 'username': 'ali'}]

In [61]:
get_all_cities()

{'Aydin', 'Istanbul'}

In [62]:
get_total_price()

Total sum is: 230

230