<a href="https://colab.research.google.com/github/kaanozbudak/Python101/blob/main/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ÇiçekSepeti - Senior Cloud Data Engineer
----
#### http://kaanozbudak.com/
#### https://linkedin.com/in/kaanozbudak/
#### https://kaanozbudak.medium.com/
#### https://instagram.com/kaanozbudakcom/
#### https://twitter.com/kaanozbudakcom
#### https://github.com/kaanozbudak
----
#### https://github.com/kaanozbudak/Python101

# Data Types
Simply DataTypes is a way to represent values in Python. The types listed below are the most commonly used data types in Python.

- int (represents numbers)
- float (represents decimals)
- str (represents text)
- bool (represents bool values)
- list (list of something)
- dict (dictionary)
- tuple (store multiple items in a single variable)
- set (Duplicate values will be ignored)

In [ ]:
num = 10 #int  # declaring variable
print(type(num)) # <class 'int'>

num = 9.99
print(type(num)) # <class 'float>

num2 = 1.8

expression1 = num * 10
print(type(expression1)) # <class 'int'>

expression2 = num + num2
print(type(expression2)) # <class 'float'>

result = 10 + 19.8
print(result)
print(type(result))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
29.8
<class 'float'>

In [ ]:
print(round(2.1)) # 2  returns a floating point number that is a rounded version of the specified number
print(round(5.9)) # 6 
print(abs(-34)) #   34  returns the absolute value of a number

2
6
34

In [ ]:
x = 11 # int

print(x+2) # Sum #12 # int
print(x-2) # Diff # 8 # int
print(x*2) # Multiplication  #20 #int
print(x/2) # Division # 5 #int # will result with remainders

print(x**2) # Exponential 
print(x//2) # Divide (without remainder)
print(x%2) # Mod (Remainder)

13
9
22
5.5
121
5
1

# Casting
You can spesicfy data type in python

In [78]:
print(5)
print(type(5))
print(str(5))
print(type(str(5)))

5
<class 'int'>
5
<class 'str'>

# Variables
Variables store values. The following are the naming conventions in Python:
Variables must begin with a letter (preferably lowercase) or an underscore followed by numbers or an underscore
Snake case is the traditional way of writing variable with multiple words like user_name
They are case sensitive
Keywords should not be overwritten by keywords (Python keywords)

In [ ]:
name = 'kaan'
surname = 'ozbudak'
age = 25
print(name)
print(age)
print(name + surname)
print(name + " " + surname)
print(name)
print(type(name))
print(type(age))

kaan
25
kaanozbudak
kaan ozbudak
kaan
<class 'str'>
<class 'int'>

In [ ]:
pname * age

'kaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaankaan'

In [ ]:
title = input("give me your title: ")
print("your title is: " + title)

give me your title: dat
your title is: dat

In [ ]:
print(f"Your name is {name} and your surname is {surname} and your age is {age}")

Your name is kaan and your surname is ozbudak and your age is 25

In [ ]:
title

'dat'

In [ ]:
surname[0]

'o'

In [ ]:
first_character = surname[0] # indexing starts from 0
last_character = surname[-1]
print(first_character)
print(last_character)
print(surname[1:4])
print(surname[2:])

o
k
zbu
budak

Booleans stores only True or False values.

In [ ]:
status = True
approved = False
print(status)
print(type(approved))

print(10 > 8)
print(name == surname)

password = "12345"

print(password=="12345")

print(True and False)
print(True and True)

True
<class 'bool'>
True
False
True
False
True

 # List
 List is an organized collection of objects. It is also a data structure, meaning a container that organizes data in a certain way for different purposes. They are denoted by []. They can be used to store the same or different types of data together.

In [ ]:
fruits = ["apple", "orange", "banana"]

names = []
print(names)
names.append("kaan")
print(names)
print(len(names))
print(names[0]) # first item of list
names.append("ali")
names.insert(0, "veli")
print("inserted")
print(names)
names.pop()
print("pop item")
print(names)
names.remove('kaan')
print("remove item")
print(names) # ali
names.clear()
print("clear items")
print(names) # []

[]
['kaan']
1
kaan
inserted
['veli', 'kaan', 'ali']
pop item
['veli', 'kaan']
remove item
['veli']
clear items
[]

In [ ]:
random_numbers = [1,2,3,1,3,4,2,5,6]
count_two = random_numbers.count('2') # count 2
random_numbers.sort()
print(random_numbers) # sort numbers
random_numbers.reverse()
print(random_numbers) # reverse side

[1, 1, 2, 2, 3, 3, 4, 5, 6]
[6, 5, 4, 3, 3, 2, 2, 1, 1]

# Dictionaries
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
user = {
    "name": "kaan",
    "surname": "ozbudak",
    "age": 25,
    "is_student": True,
    "is_married": False
}

print(user['age'])

print(user['is_student'])

user['title'] = "Data Engineer"

print(user)

user['age'] = user['age'] + 1 

print(user)

print(user.keys())
print(user.values())

25
True
{'name': 'kaan', 'surname': 'ozbudak', 'age': 25, 'is_student': True, 'is_married': False, 'title': 'Data Engineer'}
{'name': 'kaan', 'surname': 'ozbudak', 'age': 26, 'is_student': True, 'is_married': False, 'title': 'Data Engineer'}
dict_keys(['name', 'surname', 'age', 'is_student', 'is_married', 'title'])
dict_values(['kaan', 'ozbudak', 26, True, False, 'Data Engineer'])

# Conditions
Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b

In [ ]:
print(user["name"] == "kaan") # True

print(user["age"] >= 30) # False

True
False

In [ ]:
if user["age"] >= 18:
  print("you are old enough")

you are old enough

In [ ]:
if user["age"] >= 30:
  print("you are old enough")
else:
  print("not now!")

not now!

In [ ]:
user

{'age': 26,
 'is_married': False,
 'is_student': True,
 'name': 'kaan',
 'surname': 'ozbudak',
 'title': 'Data Engineer'}

In [ ]:
user['email'] = "kaanozbudak@hotmail.com"
user['password'] = "12345"

In [ ]:
user

{'age': 26,
 'email': 'kaanozbudak@hotmail.com',
 'is_married': False,
 'is_student': True,
 'name': 'kaan',
 'password': '12345',
 'surname': 'ozbudak',
 'title': 'Data Engineer'}

In [ ]:
print("Login Screen")
email_input = input("Please enter your email: ")
password_input = input("Please give your password: ")

if (email_input != user['email']) or (password_input != user['password']):
  print("Email or password wrong")
elif (email_input == user['email']) and (password_input == user['password']):
  print("Come in, correct auth!")

Login Screen
Please enter your email: kaanozbudak@hotmail.com
Please give your password: 1234
Email or password wrong

# Loops 
loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

In [ ]:
random_numbers

[6, 5, 4, 3, 3, 2, 2, 1, 1]

In [ ]:
for number in random_numbers:
  print(number)

6
5
4
3
3
2
2
1
1

In [ ]:
for number in random_numbers:
  print(number * 10)

60
50
40
30
30
20
20
10
10

In [ ]:
for letter in "kaanozbudak":
  print(letter)

k
a
a
n
o
z
b
u
d
a
k

In [ ]:
user

{'age': 26,
 'email': 'kaanozbudak@hotmail.com',
 'is_married': False,
 'is_student': True,
 'name': 'kaan',
 'password': '12345',
 'surname': 'ozbudak',
 'title': 'Data Engineer'}

In [ ]:
for key in user.keys():
  print(key)

name
surname
age
is_student
is_married
title
email
password

In [ ]:
for value in user.values():
  print(value)

kaan
ozbudak
26
True
False
Data Engineer
kaanozbudak@hotmail.com
12345

In [ ]:
for key, value in user.items():
  print(f"key: {key}")
  print(f"value: {value}")
  print("-----")

key: name
value: kaan
-----
key: surname
value: ozbudak
-----
key: age
value: 26
-----
key: is_student
value: True
-----
key: is_married
value: False
-----
key: title
value: Data Engineer
-----
key: email
value: kaanozbudak@hotmail.com
-----
key: password
value: 12345
-----

In [ ]:
for counter in range(10):
  print(counter)

0
1
2
3
4
5
6
7
8
9

In [ ]:
numbers_list = (x for x in range(10))

numbers_list2 = []

for x in range(10):
  numbers_list2.append(x)


print(list(numbers_list))
print(numbers_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for number in numbers_list2:
  if number % 2 == 1:
    print(f"odd: {number}")
  else:
    print(f"even: {number}")

even: 0
odd: 1
even: 2
odd: 3
even: 4
odd: 5
even: 6
odd: 7
even: 8
odd: 9

In [ ]:
while True:
  # print("Hello world")
  break

In [ ]:
flag = True
counter = 0
while flag:
  print(counter)
  counter += 1
  if counter == 4:
    print("SKIP")
  if counter >= 10:
    flag = False

0
1
2
3
SKIP
4
5
6
7
8
9

# Tuples
Tuples are used to store multiple items in a single variable.

In [ ]:
ages = (12, 24, 25, 14)

first_age = ages[0]
second_age = ages[1]
print(f"first_age: {first_age}")
print(f"second_age: {second_age}")

first_age: 12
second_age: 24

# Sets
Sets are used to store multiple items in a single variable.

Sets does not allow duplicate values.

In [ ]:
set_example = {1,2,2,2,2,3,4,4,5,5,6,6}
print(set_example)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_list = [1,2,3,3,3,3,3,2,3,4,5]
print(my_list)
print(set(my_list))

[1, 2, 3, 3, 3, 3, 3, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

# Functions
In Python, a function is a group of related statements that performs a specific task. Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and 
manageable. Furthermore, it avoids repetition and makes the code reusable.

In [ ]:
def get_full_name(name, surname):
  return name + " " + surname

In [ ]:
name = "kaan"
surname = "ozbudak"
full_name = get_full_name(name, surname)
print(full_name)

kaan ozbudak

In [ ]:
names = ["kaan", "eray", "batu"]
surnames = ["ozbudak", "surmeli", "kargili"]

for i in range(len(names)):
  print(i)
  print(names[i])
  print(surnames[i])
  full_name = get_full_name(names[i], surnames[i])
  print(f"full name is {full_name}")

0
kaan
ozbudak
full name is kaan ozbudak
1
eray
surmeli
full name is eray surmeli
2
batu
kargili
full name is batu kargili

# Exceptions
- Programmer Errors
- Program Bugs
- Exceptions

In [69]:
print(0/0)

ZeroDivisionError: ignored

In [70]:
print(10/"kaan")

TypeError: ignored

In [71]:
num="5"
print(10/num)

TypeError: ignored

In [74]:
try:
  num="5"
  print(10/num)
except Exception as ex:
  print("You can not divide int by str")

You can not divide int by str

In [75]:
try:
  num="5"
  print(10/num)
except Exception as ex:
  num = int(num)
  print(10/num)

2.0